body {
  font-family: "Tahoma";
  padding:0px;
  background-color:#edf7ff;
}

.left-white {
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

.main {
  /* background-color:#ffffff; */
  padding:20px;
  float:left;
  width:50%; /* The width is 60%, by default */
}

.right-white {
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left-white, .main, .right-white {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .left-white, .right-white {
    padding: 0px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left-white, .main, .right-white {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .left-white, .right-white {
    padding: 0px; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

h1 {
  font-family: "Georgia";
  text-align: center;
}

h4 {
  margin-bottom: .7em;
}

/* p {
  font-size: 14px;
} */

img {
  width:100%;
  max-width:100%;
  height:auto;
  border:1px solid grey;
}

img.logo {
  width:22px;
  border:none;
}

figure.banner-img {
  display: block;
  text-align: center;
  margin-top: 3.8em;
  margin-bottom: 3em;
}

figcaption {
  font-size: 10px;
  color: #757575;
}

rect{
  fill: #cfe6fc;
}

rect:hover{
  fill: navy;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
