body {
  font-family: 'Open Sans', sans-serif;
  padding:0px;
  background-color:#edf7ff;
}

.container {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
    max-width: 100%;
  }
}

.left-white {
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

.right-white {
  padding:20px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

h1 {
  font-family: 'Anaheim', sans-serif;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: 'Anaheim', sans-serif;
  font-size: 32px;
  padding-top: 1em;
}

h3 {
  font-family: 'Anaheim', sans-serif;
  font-size: 24px;
  padding-top: 1em;
}

.takeaway {
  font-family: 'Anaheim', sans-serif;
  font-size: 24px;
}

img {
  max-width:100%;
  height:auto;
  border:1px solid grey;
}

img.img-left {
  float:left;
  margin-bottom: 1.5em;
  margin-right: 2.5em;
}

img.logo {
  width:22px;
  border:none;
}

figure.banner-img {
  align-self:center;
  max-width:100%;
  margin-top: 3.8em;
  margin-bottom: 3em;
}

figure.block-left {
  align:left;
  display:block;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 3.8em;
  margin-bottom: 3em;
}

figure.float-left {
  float:left;
  display:table;
  margin-left: 0em;
  margin-right: 2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

figure.d3-chart {
  align:left;
  display:block;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 3em;
}

figcaption {
  font-size: 10px;
  color: #757575;
}

figcaption.float-left {
  display:table-caption;
  caption-side: bottom;
}

rect{
  fill: #cfe6fc;
}

rect:hover{
  fill: navy;
}

.d3-tip {
  font-family: 'Anaheim', sans-serif;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
